body{
    font-family: 'Red Hat Text', sans-serif;
    background-color:hsl(234, 17%, 12%);
    background-image: url(images/bg-stars.svg);
    position: relative;
    text-align: center;
    font-size: 14px;
    color:  hsl(0, 0%, 100%);
    font-weight: 700;

}
*{
    box-sizing: border-box;
}
h1{
    margin-top: 3rem; 
    text-align: center;
    font-size: 2.5rem;
    font-family: Lobster Two,cursive;
}
.body-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}


.div-container{
    margin-top: 6em;
    /* position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%); */
    
}

.div-row{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
    
}
.tick{
    font-size: 3.5rem;
}
span.text-muted{
	color:  hsl(237, 18%, 59%);
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	font-size: 0.9rem
}

.div-box{
    width: 7rem;
    height: 7rem;
    background-color: hsl(236, 21%, 26%);
    border: 1px solid  hsl(236, 21%, 26%);
    text-align: center;
    font-size: 4.5rem;
    color: hsl(345, 95%, 68%) ;
    border-radius: 10px;
    position: relative;
	
}

.dot-left {
    height: 1rem;
    width: 1rem;
    background-color: hsl(234, 17%, 12%);;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -10px;
    bottom: 40%;
}
.dot-right {
    height: 14px;
    width: 14px;
    background-color: hsl(234, 17%, 12%);;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: -10px;
    bottom: 40%;
}

footer{
    position: fixed;
    bottom:0;  
    background-image: url(images/pattern-hills.svg);
    background-repeat: repeat-x;
    background-position-x: 80%;
    background-position-y: top;
    background-size: cover;
    width: 100%;
    height: 9rem;
}

.nav{
    position: fixed; 
    bottom:5vh;
    width: 100%;
}

li a:hover{
    background-color:hsl(345, 95%, 68%) ;
}
.attribution { 
    margin-top: 2rem;
    font-size: 0.5rem;
    text-align: center;
    position:fixed;
    bottom:0;
    width: 100%;

}
.attribution a {
    color: hsl(228, 45%, 44%);
}


#box.turn{
    animation: turn 0.7s ease forwards;
    
}

@keyframes turn{
    0%{transform: rotateX(0deg)}

    100%{transform: rotateX(360deg)}
}

@media only screen and (max-width: 440px) {
    
    .body-wrapper{
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center; 

    }
    .div-container{
        width: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center;  */

    }
    .div-box{
        width:100%;
    }
    /* h1{
        margin-top: 10vh; 
        text-align: center;
        font-size: 1.5rem;
        font-family: Lobster Two,cursive;
    }
    .tick{
        font-size: 2.5rem;
    }
	.div-container{
        width: 90%;
        position: fixed;
        transform: translate(-51%,-10%);
    }
    .div-box{
        width: 100%;
    } */
}